<a href="https://colab.research.google.com/github/Lunalykaya/Pandas-Practice-200-Exercises/blob/main/%D0%93%D0%BB%D0%B0%D0%B2%D0%B0_1_%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# УПРАЖНЕНИЕ 1. Оценки за ежемесячные тесты
Создайте объект Series, состоящий из десяти случайных целочисленных значений в диапазоне от 70 до 100, которые будут представлять оценки студента за
ежемесячные тесты. Задайте в качестве индекса названия месяцев с сентября по
июнь. Если эти месяцы не соответствуют началу и окончанию учебного года в вашем регионе, вы можете адаптировать их.
Напишите код, который будет отвечать на следующие вопросы:
* какова средняя оценка студента за тесты за весь год?
* какова средняя оценка студента за тесты за первое полугодие (т. е. за первые пять месяцев учебного года)?
* какова средняя оценка студента за тесты за второе полугодие (т. е. за последние пять месяцев учебного года)?
* повысилась ли успеваемость студента во втором полугодии в сравнении с
первым? Если да, то насколько?

In [2]:
s = pd.Series(np.random.randint(70, 101, size=10), index=['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь'])
s

Сентябрь     84
Октябрь      77
Ноябрь       72
Декабрь      93
Январь       91
Февраль      78
Март         80
Апрель       71
Май         100
Июнь         71
dtype: int64

In [3]:
print('Средняя оценка студента за весь год:', s.mean())
print('Средняя оценка студента за первое полугодие:', s[:5].mean())
print('Средняя оценка студента за второе полугодие:', s[5:].mean())

diff = round(s[5:].mean()-s[:5].mean(), 2)
if diff > 0:
    print(f'Успеваемость студента во втором полугодии повысилась на {diff} балла.')
elif diff < 0:
    print(f'Успеваемость студента во втором полугодии упала на {abs(diff)} балла.')
else:
    print('Успеваемость студента осталась на том же уровне.')

Средняя оценка студента за весь год: 81.7
Средняя оценка студента за первое полугодие: 83.4
Средняя оценка студента за второе полугодие: 80.0
Успеваемость студента во втором полугодии упала на 3.4 балла.

## Дополнительные упражнения
1. В каком месяце наш студент получил наивысший балл за тест?
2. Какие были пять его лучших оценок в году?
3. Округлите оценки студента до ближайшей десятки (оценка 82 должна быть
округлена до 80, а 87 –  до 90)

In [4]:
#1
print('Месяц, в котором студент получил наивысший балл за тест:', s.idxmax())
print('Наивысший балл:', s.max())
#2
print('Пять лучших оценок студента:', *list(s.sort_values(ascending=False)[:5]))

Месяц, в котором студент получил наивысший балл за тест: Май
Наивысший балл: 100
Пять лучших оценок студента: 100 93 91 84 80

In [5]:
#3
s.round(-1)

Сентябрь     80
Октябрь      80
Ноябрь       70
Декабрь      90
Январь       90
Февраль      80
Март         80
Апрель       70
Май         100
Июнь         70
dtype: int64

# УПРАЖНЕНИЕ 2. Масштабирование оценок
В этом упражнении вам необходимо сгенерировать 10 оценок в диапазоне
от 40 до 60 с таким же индексом по месяцам, что и в первом упражнении. Найдите среднее значение исходных оценок и добавьте к каждой оценке разницу между
этим средним значением и 80.

In [7]:
s = pd.Series(np.random.randint(40, 61, size=10), index=['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь'])
s

Сентябрь    42
Октябрь     56
Ноябрь      41
Декабрь     58
Январь      53
Февраль     57
Март        45
Апрель      56
Май         54
Июнь        42
dtype: int64

In [12]:
print('Средняя оценка:', s.mean())

Средняя оценка: 50.4

In [14]:
dif = 80 - s.mean()
dif

np.float64(29.6)

In [15]:
s_dif = s + dif

In [16]:
s_dif

Сентябрь    71.6
Октябрь     85.6
Ноябрь      70.6
Декабрь     87.6
Январь      82.6
Февраль     86.6
Март        74.6
Апрель      85.6
Май         83.6
Июнь        71.6
dtype: float64

## Дополнительные упражнения
1. Существует еще как минимум один способ выполнить масштабирование
оценок за тесты – путем анализа их средних значений и стандартных отклонений. К примеру, если студент уложился в одно стандартное отклонение
от среднего значения, он получает оценку C (если она ниже среднего) или B
(если выше среднего). Те из студентов, кто преодолел границу одного стандартного отклонения в сторону повышения, получают высший балл  –  A,
а те, кто опустился больше чем на одно стандартное отклонение ниже средней оценки, получают худшую оценку D. С учетом этого правила определите суммарные баллы нашего студента по всем месяцам.
2. Встретились ли вам оценки выше или ниже двух стандартных отклонений
от среднего балла? Если да, то в какие месяцы?
3. Насколько близки друг к другу оказались средняя арифметическая оценка
и медиана? Что означает близость этих двух статистик? И что бы означала
большая разница между ними?

In [18]:
s.mean()

np.float64(50.4)

In [19]:
s.std()

7.011102306738617

In [20]:
s.median()

53.5