<a href="https://colab.research.google.com/github/Lunalykaya/Pandas-Practice-200-Exercises/blob/main/%D0%93%D0%BB%D0%B0%D0%B2%D0%B0_1_%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# УПРАЖНЕНИЕ 1. Оценки за ежемесячные тесты
Создайте объект Series, состоящий из десяти случайных целочисленных значений в диапазоне от 70 до 100, которые будут представлять оценки студента за
ежемесячные тесты. Задайте в качестве индекса названия месяцев с сентября по
июнь. Если эти месяцы не соответствуют началу и окончанию учебного года в вашем регионе, вы можете адаптировать их.
Напишите код, который будет отвечать на следующие вопросы:
* какова средняя оценка студента за тесты за весь год?
* какова средняя оценка студента за тесты за первое полугодие (т. е. за первые пять месяцев учебного года)?
* какова средняя оценка студента за тесты за второе полугодие (т. е. за последние пять месяцев учебного года)?
* повысилась ли успеваемость студента во втором полугодии в сравнении с
первым? Если да, то насколько?

In [3]:
s = pd.Series(np.random.randint(70, 101, size=10), index=['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь'])
s

Сентябрь    84
Октябрь     88
Ноябрь      74
Декабрь     87
Январь      91
Февраль     80
Март        76
Апрель      80
Май         75
Июнь        77
dtype: int64

In [4]:
print('Средняя оценка студента за весь год:', s.mean())
print('Средняя оценка студента за первое полугодие:', s[:5].mean())
print('Средняя оценка студента за второе полугодие:', s[5:].mean())

diff = round(s[5:].mean()-s[:5].mean(), 2)
if diff > 0:
    print(f'Успеваемость студента во втором полугодии повысилась на {diff} балла.')
elif diff < 0:
    print(f'Успеваемость студента во втором полугодии упала на {abs(diff)} балла.')
else:
    print('Успеваемость студента осталась на том же уровне.')

Средняя оценка студента за весь год: 81.2
Средняя оценка студента за первое полугодие: 84.8
Средняя оценка студента за второе полугодие: 77.6
Успеваемость студента во втором полугодии упала на 7.2 балла.

## Дополнительные упражнения
1. В каком месяце наш студент получил наивысший балл за тест?
2. Какие были пять его лучших оценок в году?
3. Округлите оценки студента до ближайшей десятки (оценка 82 должна быть
округлена до 80, а 87 –  до 90)

In [5]:
#1
print('Месяц, в котором студент получил наивысший балл за тест:', s.idxmax())
print('Наивысший балл:', s.max())
#2
print('Пять лучших оценок студента:', *list(s.sort_values(ascending=False)[:5]))

Месяц, в котором студент получил наивысший балл за тест: Январь
Наивысший балл: 91
Пять лучших оценок студента: 91 88 87 84 80

In [6]:
#3
s.round(-1)

Сентябрь    80
Октябрь     90
Ноябрь      70
Декабрь     90
Январь      90
Февраль     80
Март        80
Апрель      80
Май         80
Июнь        80
dtype: int64

# УПРАЖНЕНИЕ 2. Масштабирование оценок
В этом упражнении вам необходимо сгенерировать 10 оценок в диапазоне
от 40 до 60 с таким же индексом по месяцам, что и в первом упражнении. Найдите среднее значение исходных оценок и добавьте к каждой оценке разницу между
этим средним значением и 80.

In [7]:
s = pd.Series(np.random.randint(40, 61, size=10), index=['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь'])
s

Сентябрь    40
Октябрь     53
Ноябрь      57
Декабрь     60
Январь      51
Февраль     60
Март        54
Апрель      47
Май         50
Июнь        47
dtype: int64

In [8]:
print('Средняя оценка:', s.mean())

Средняя оценка: 51.9

In [9]:
dif = 80 - s.mean()
dif

np.float64(28.1)

In [10]:
s_dif = s + dif

In [11]:
s_dif

Сентябрь    68.1
Октябрь     81.1
Ноябрь      85.1
Декабрь     88.1
Январь      79.1
Февраль     88.1
Март        82.1
Апрель      75.1
Май         78.1
Июнь        75.1
dtype: float64

## Дополнительные упражнения
1. Существует еще как минимум один способ выполнить масштабирование
оценок за тесты – путем анализа их средних значений и стандартных отклонений. К примеру, если студент уложился в одно стандартное отклонение
от среднего значения, он получает оценку C (если она ниже среднего) или B
(если выше среднего). Те из студентов, кто преодолел границу одного стандартного отклонения в сторону повышения, получают высший балл  –  A,
а те, кто опустился больше чем на одно стандартное отклонение ниже средней оценки, получают худшую оценку D. С учетом этого правила определите суммарные баллы нашего студента по всем месяцам.
2. Встретились ли вам оценки выше или ниже двух стандартных отклонений
от среднего балла? Если да, то в какие месяцы?
3. Насколько близки друг к другу оказались средняя арифметическая оценка
и медиана? Что означает близость этих двух статистик? И что бы означала
большая разница между ними?

In [12]:
s.mean()

np.float64(51.9)

In [13]:
s.std()

6.297265720577111

In [14]:
s.median()

52.0

# УПРАЖНЕНИЕ 5. Температура по понедельникам
В этом упражнении мы создадим объект Series с 28 измерениями температуры воздуха в градусах Цельсия за четыре недели, выбрав значения из нормального
распределения со средним значением 20 и стандартным отклонением 5 с округлением до ближайшего целого. Индекс у нас будет состоять из повторяющихся названий дней недели с Sun (воскресенье) по Sat (суббота). А вопрос будет такой: какова
была средняя температура по понедельникам за исследованный период времени?

In [15]:
g = np.random.default_rng(0)
g.normal(20, 5, 28)

array([20.62865111, 19.33947568, 23.20211325, 20.52450059, 17.32165313,
       21.80797527, 26.52000023, 24.73540482, 16.48132382, 13.67289264,
       16.88362769, 20.2066299 ,  8.37484613, 18.90604168, 13.77044526,
       16.33866323, 17.27870509, 18.41849922, 22.05815268, 25.21256685,
       19.35732669, 26.83231735, 16.67402663, 21.75755035, 24.51735091,
       20.47006149, 16.28250375, 15.39137312])

In [18]:
days = "Sun Mon Tues Wed Thu Fri Sat".split()

In [23]:
s = pd.Series(g.normal(20, 5, 28), index=days*4).round().astype(np.int8)

Какова
была средняя температура по понедельникам за исследованный период времени?

In [25]:
s.mean()

np.float64(20.464285714285715)

In [29]:
s.Mon.mean()

np.float64(22.0)

In [30]:
s.loc['Mon'].mean()

np.float64(22.0)