<a href="https://colab.research.google.com/github/Lunalykaya/Pandas-Practice-200-Exercises/blob/main/%D0%93%D0%BB%D0%B0%D0%B2%D0%B0_1_%D0%9E%D0%B1%D1%8A%D0%B5%D0%BA%D1%82_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# УПРАЖНЕНИЕ 1. Оценки за ежемесячные тесты
Создайте объект Series, состоящий из десяти случайных целочисленных значений в диапазоне от 70 до 100, которые будут представлять оценки студента за
ежемесячные тесты. Задайте в качестве индекса названия месяцев с сентября по
июнь. Если эти месяцы не соответствуют началу и окончанию учебного года в вашем регионе, вы можете адаптировать их.
Напишите код, который будет отвечать на следующие вопросы:
* какова средняя оценка студента за тесты за весь год?
* какова средняя оценка студента за тесты за первое полугодие (т. е. за первые пять месяцев учебного года)?
* какова средняя оценка студента за тесты за второе полугодие (т. е. за последние пять месяцев учебного года)?
* повысилась ли успеваемость студента во втором полугодии в сравнении с
первым? Если да, то насколько?

In [23]:
s = pd.Series(np.random.randint(70, 101, size=10), index=['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь'])
s

Сентябрь    100
Октябрь      72
Ноябрь       95
Декабрь      97
Январь       94
Февраль      71
Март         77
Апрель       70
Май          76
Июнь         93
dtype: int64

In [24]:
print('Средняя оценка студента за весь год:', s.mean())
print('Средняя оценка студента за первое полугодие:', s[:5].mean())
print('Средняя оценка студента за второе полугодие:', s[5:].mean())

diff = round(s[5:].mean()-s[:5].mean(), 2)
if diff > 0:
    print(f'Успеваемость студента во втором полугодии повысилась на {diff} балла.')
elif diff < 0:
    print(f'Успеваемость студента во втором полугодии упала на {abs(diff)} балла.')
else:
    print('Успеваемость студента осталась на том же уровне.')

Средняя оценка студента за весь год: 84.5
Средняя оценка студента за первое полугодие: 91.6
Средняя оценка студента за второе полугодие: 77.4
Успеваемость студента во втором полугодии упала на 14.2 балла.

# Дополнительные упражнения
1. В каком месяце наш студент получил наивысший балл за тест?
2. Какие были пять его лучших оценок в году?
3. Округлите оценки студента до ближайшей десятки (оценка 82 должна быть
округлена до 80, а 87 –  до 90)

In [49]:
#1
print('Месяц, в котором студент получил наивысший балл за тест:', s.idxmax())
print('Наивысший балл:', s.max())
#2
print('Пять лучших оценок студента:', *list(s.sort_values(ascending=False)[:5]))

Месяц, в котором студент получил наивысший балл за тест: Сентябрь
Наивысший балл: 100
Пять лучших оценок студента: 100 97 95 94 93

In [52]:
#3
s.round(-1)

Сентябрь    100
Октябрь      70
Ноябрь      100
Декабрь     100
Январь       90
Февраль      70
Март         80
Апрель       70
Май          80
Июнь         90
dtype: int64