In [2]:
import pandas as pd
import numpy as np

# УПРАЖНЕНИЕ 1. Оценки за ежемесячные тесты
Создайте объект Series, состоящий из десяти случайных целочисленных значений в диапазоне от 70 до 100, которые будут представлять оценки студента за
ежемесячные тесты. Задайте в качестве индекса названия месяцев с сентября по
июнь. Если эти месяцы не соответствуют началу и окончанию учебного года в вашем регионе, вы можете адаптировать их.
Напишите код, который будет отвечать на следующие вопросы:
* какова средняя оценка студента за тесты за весь год?
* какова средняя оценка студента за тесты за первое полугодие (т. е. за первые пять месяцев учебного года)?
* какова средняя оценка студента за тесты за второе полугодие (т. е. за последние пять месяцев учебного года)?
* повысилась ли успеваемость студента во втором полугодии в сравнении с
первым? Если да, то насколько?

In [7]:
s = pd.Series(np.random.randint(70, 101, size=10), index=['Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь', 'Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь'])
s

Сентябрь    70
Октябрь     97
Ноябрь      94
Декабрь     98
Январь      96
Фнвраль     99
Март        74
Апрель      76
Май         98
Июнь        72
dtype: int64

In [17]:
print('Средняя оценка студента за весь год:', s.mean())
print('Средняя оценка студента за первое полугодие:', s[:5].mean())
print('Средняя оценка студента за второе полугодие:', s[5:].mean())

diff = round(s[5:].mean()-s[:5].mean(), 2)
if diff > 0:
    print(f'Успеваемость студента во втором полугодии повысилась на {diff} балла.')
elif diff < 0:
    print(f'Успеваемость студента во втором полугодии упала на {abs(diff)} балла.')
else:
    print('Успеваемость студента осталась на том же уровне.')

Средняя оценка студента за весь год: 87.4
Средняя оценка студента за первое полугодие: 91.0
Средняя оценка студента за второе полугодие: 83.8
Успеваемость студента во втором полугодии упала на 7.2 балла.